html {
    min-width: 720px;
    margin: 40px;
    background-color: #3b3b3b;
}
body {
    font-family: Helvetica;
    font-size: 16px;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
}
/* 
    Top of page banner related styling
    for name and job title
 */
.banner {
    margin-bottom: 20px;
    padding-top: 25px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    height: 250px;
    position: relative;
}
.image-container {
    float:left;
}
.image {
    filter: grayscale(30%);
}
.name {
    font-size: 40px;
    vertical-align: top;
    color: #ffffff;
}
.career-title {
    font-size: 25px;
    font-style: italic;
    color: rgb(190, 190, 190);
}
.loc-and-contact {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 12px;
    color: rgb(190, 190, 190);
}

/* Two columns
    -left for education and work history
    -Right for skills and interests
*/
.main-pane {
    background-color: transparent;
    display: flex;
}
.left-column {
    padding-right: 11%;
    float:left;
    width: 65%;
}
.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-pane {
    color: rgb(201, 201, 201);
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    padding-top: 12px;
    margin-bottom: 15px;
}
.icon-text {
    display: inline-block;
    vertical-align: middle;
    padding: 0%;
}

.horizontal-separator {
    margin-top: 30px;
    width: 100%;

}

/* Text formatting */
.text-title {
    font-size: 35px;
}
a {
    color: white;
}

td {
    vertical-align: top;
}

.courses-header {
    font-size: 22px;
}

footer {
    width: 100%;
}

footer {
    padding-bottom: 20px;
}