body {
    background-color: #3b3b3b;
    max-width: 720px;
    font-family: Helvetica;
    font-size: 16px;
    margin: 10px auto;
    align-items: center;
}
/* 
    Top of page banner related styling
    for name and job title
 */
.banner {
    margin-bottom: 20px;
    padding-top: 25px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    height: 180px;
    position: relative;
}
.image {
    float: left;
    filter: grayscale(30%);
}
.name {
    font-size: 40px;
    vertical-align: top;
    width: 281px;
    color: #ffffff;
}
.career-title {
    font-size: 25px;
    font-style: italic;
    width: 281px;
    color: rgb(190, 190, 190);
}
.loc-and-contact {
    display: flex;
    justify-content: space-between;
    width: 281px;
    font-size: 12px;
    color: rgb(190, 190, 190);
}

/* Two columns
    -left for education and work history
    -Right for skills and interests
*/
.main-pane {
    display: flex;
    margin: 0 auto;
}
.left-column {
    padding-right: 11%;
}
.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height:500px;
}

.content-pane {
    color: rgb(201, 201, 201);
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
}

.horizontal-separator {
    margin-top: 30px;
    width: 100%;

}

/* Text formatting */
a {
    color: white;
    text-decoration: none;
}
.larger-text {
    font-size: larger;
}
.sub-text {
    border-left: 1px solid gray;
    margin-left: 12px;
    padding-left: 8px;
}
.text-title {
    font-size: 35px;
    font-weight: bold;;
}